<ion-header no-border>
    <ion-toolbar color="dark">
        <ion-buttons slot="end">
            <ion-button shape="round" color="tertiary">
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            To do
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <app-lists [done]="false"></app-lists>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="addList()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>